DATABASE_URL=
PORT=4000
JWT_SECRET=
JWT_REFRESH_SECRET=
FRONTEND_ORIGIN=https://www.prozync.in
BASE_URL=https://smarterp-backendend.onrender.com

GROQ_API_KEY=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FIREBASE_SERVICE_ACCOUNT=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
REDIS_URL=
SUPER_ADMIN_EMAIL=
SENTRY_DSN=
RAZORPAY_WEBHOOK_SECRET=
